[Desktop Entry]
Name=Gluon Project Viewer Component
MimeType=text/x-gluon-project;
X-KDE-ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=gluon_viewer_part
Type=Service