[Desktop Entry]
Name=Gluon Player
GenericName=Game Launcher
GenericName[de]=Spielestarter
GenericName[es]=Lanzador de juegos
GenericName[et]=Mängukäivitaja
GenericName[fr]=Démarrage du jeu
GenericName[pl]=Program uruchamiający gry
GenericName[pt]=Lançador do Jogo
GenericName[pt_BR]=Lançador do jogo
GenericName[sv]=Startprogram för spel
GenericName[uk]=Засіб запуску гри
GenericName[x-test]=xxGame Launcherxx
Exec=gluonplayer-desktop
Icon=gluon-player
Type=Application
Categories=Qt;KDE;Game;
Terminal=false
