[Desktop Entry]
Name=Gluon Player (QML)
Name[de]=Gluon-Player (QML)
Name[es]=Gluon Player (sólo QML)
Name[fr]=Gluon Player (QML)
Name[pt]=Leitor do Gluon (QML)
Name[pt_BR]=Jogador do Gluon (QML)
Name[sv]=Gluon spelare (QML)
Name[uk]=Програвач Gluon (QML)
Name[x-test]=xxGluon Player (QML)xx
GenericName=Game Launcher
GenericName[de]=Spielestarter
GenericName[es]=Lanzador de juegos
GenericName[fr]=Démarrage du jeu
GenericName[pt]=Lançador do Jogo
GenericName[pt_BR]=Lançador do jogo
GenericName[sv]=Startprogram för spel
GenericName[uk]=Засіб запуску гри
GenericName[x-test]=xxGame Launcherxx
Exec=gluon_qmlplayer
Icon=gluon-player
Type=Application
Categories=Qt;QML;KDE;Game;
Terminal=false
