[Desktop Entry]
Encoding=UTF-8

Name=Version Control System tool
Name[es]=Herramienta para el sistema de control de versiones.
Name[et]=Versioonihaldussüsteemi tööriist
Name[fr]=Outil de contrôle de version
Name[km]=ឧបករណ៍​ប្រព័ន្ធ​ត្រួតពិនិត្យ​កំណែ
Name[pl]=Narzędzie systemu kontroli wersji
Name[pt]=Ferramenta de sistemas de controlo de versões
Name[pt_BR]=Ferramenta de sistema de controle de versão
Name[sv]=Verktyg för versionskontrollsystem
Name[uk]=Інструмент системи керування версіями
Name[x-test]=xxVersion Control System toolxx
Comment=Provides a Version Control System plugin.
Comment[de]=Ein Modul für ein Versionsverwaltungssystem.
Comment[es]=Proporciona un complemento para el sistema de control de versiones.
Comment[et]=Versioonihaldussüsteemi plugin.
Comment[fr]=Fournit un module externe pour le contrôle de version.
Comment[km]=ផ្ដល់​កម្មវិធី​ជំនួយ​ប្រព័ន្ធ​ត្រួតពិនិត្យ​កំណែ ។
Comment[pl]=Dostarcza wtyczkę systemu kontroli wersji
Comment[pt]=Oferece um 'plugin' para sistemas de controlo de versões.
Comment[pt_BR]=Oferece um plugin para VCS (Version Control System).
Comment[sv]=Tillhandahåller ett insticksprogram för versionskontrollsystem.
Comment[uk]=Додаток роботи з системами керування версіями.
Comment[x-test]=xxProvides a Version Control System plugin.xx
Icon=gluon

Type=Service
ServiceTypes=GluonCreator/Plugin

X-KDE-Library=gluon_creator_toolplugin_vcstool
X-KDE-GluonCreatorPluginVersion=1
X-KDE-PluginInfo-Author=Laszlo Papp
X-KDE-PluginInfo-Email=lpapp@kde.org
X-KDE-PluginInfo-Name=gluon_creator_toolplugin_vcstool
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://gluon.tuxfamily.org
X-KDE-PluginInfo-Category=tool
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
