[Desktop Entry]
Encoding=UTF-8

Name=Project Inspector
Name[bs]=Projekt inspektor
Name[de]=Projekt-Inspektor
Name[es]=Inspector de proyecto
Name[et]=Projekti inspektor
Name[fr]=Inspecteur de projets
Name[hu]=Projektfigyelő
Name[km]=កម្មវិធី​ពិនិត្យមើល​គម្រោង
Name[mr]=परियोजना तपासकर्ता
Name[pl]=Inspektor projektu
Name[pt]=Inspector do Projecto
Name[pt_BR]=Inspetor do projeto
Name[sv]=Projektinspektör
Name[uk]=Ревізор проекту
Name[x-test]=xxProject Inspectorxx
Comment=Provides a tool to inspect the entire project hierarchy.
Comment[bs]=Obezbjeđuje alat za istraživanje cijele strukture projekta
Comment[de]=Ein Werkzeug, um die gesamte Projekthierarchie zu inspizieren
Comment[es]=Proporciona na herramienta para examinar la jerarquía completa del proyecto
Comment[et]=Tööriist kogu projektihierarhia inspekteerimiseks
Comment[fr]=Fournit un outil pour inspecter la hiérarchie complète d'un projet.
Comment[hu]=Segédeszköz a teljes projekthierarchia böngészéséhez.
Comment[km]=ផ្ដល់​ឧបករណ៍​ដើម្បី​ពិនិត្យមើល​​ឋានានុក្រម​គម្រោង​ទាំងអស់ ។
Comment[pl]=Dostarcza narzędzie do inspekcji całej hierarchii projektu. 
Comment[pt]=Oferece uma ferramenta para inspeccionar a hierarquia completa do projecto.
Comment[pt_BR]=Fornece uma ferramenta para inspecionar a hierarquia completa do projeto.
Comment[sv]=Tillhandahåller ett verktyg för att inspektera hela projektets hierarki.
Comment[uk]=Інструмент ревізії усієї ієрархії проекту.
Comment[x-test]=xxProvides a tool to inspect the entire project hierarchy.xx
Icon=gluon

Type=Service
ServiceTypes=GluonCreator/Plugin

X-KDE-Library=gluoncreator_toolplugin_projectinspector
X-KDE-GluonCreatorPluginVersion=1
X-KDE-PluginInfo-Author=Arjen Hiemstra
X-KDE-PluginInfo-Email=djfreestyler@gmail.com
X-KDE-PluginInfo-Name=gluoncreator_toolplugin_projectinspector
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://gluon.gamingfreedom.org
X-KDE-PluginInfo-Category=tool
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
