[Desktop Entry]
Name=Gluon Player Plasmoid
Name[bs]=Gluon Player Plasmoid
Name[de]=Gluon-Player-Miniprogramm
Name[en_GB]=Gluon Player Plasmoid
Name[es]=Plasmoide del reproductor Gluon
Name[et]=Gluoni mängija plasmoid
Name[fr]=Composant graphique Gluon Player
Name[hu]=Gluon játékos plasmoid
Name[km]=Gluon Player Plasmoid
Name[mr]=ग्लुओन प्लेयर प्लाज्मोइड
Name[nds]=Plasma-Lüttprogramm för Gluon
Name[pl]=Plazmoid odtwarzacza Gluon
Name[pt]=Plasmóide de Leitura do Gluon
Name[pt_BR]=Plasmoide de jogador do Gluon
Name[sv]=Gluon spelarplasmoid
Name[uk]=Плазмоїд програвача Gluon
Name[x-test]=xxGluon Player Plasmoidxx
Comment=Gluon Player Plasmoid
Comment[bs]=Gluon Player Plasmoid
Comment[de]=Gluon-Player-Miniprogramm
Comment[en_GB]=Gluon Player Plasmoid
Comment[es]=Plasmoide del reproductor Gluon
Comment[et]=Gluoni mängija plasmoid
Comment[fr]=Composant graphique Gluon Player
Comment[hu]=Gluon játékos plasmoid
Comment[km]=Gluon Player Plasmoid
Comment[mr]=ग्लुओन प्लेयर प्लाज्मोइड
Comment[nds]=Plasma-Lüttprogramm för Gluon
Comment[pl]=Plazmoid odtwarzacza Gluon
Comment[pt]=Plasmóide de Leitura do Gluon
Comment[pt_BR]=Plasmoide de jogador do Gluon
Comment[sv]=Gluon spelarplasmoid
Comment[uk]=Плазмоїд програвача Gluon
Comment[x-test]=xxGluon Player Plasmoidxx
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_gluonplayer
X-KDE-PluginInfo-Author=Shantanu Tushar Jha
X-KDE-PluginInfo-Email=shaan7in@gmail.com
X-KDE-PluginInfo-Name=org.kde.gluonplayer
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://gluon.gamingfreedom.org/
X-KDE-PluginInfo-Category=Fun and Games
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
