[Desktop Entry]
Name=Gluon Player Plasmoid
Name[de]=Gluon-Player-Miniprogramm
Name[es]=Plasmoide del reproductor Gluon
Name[nds]=Plasma-Lüttprogramm för »Gluon«
Name[pt]=Plasmóide de Leitura do Gluon
Name[sv]=Gluon spelarplasmoid
Name[uk]=Плазмоїд програвача Gluon
Name[x-test]=xxGluon Player Plasmoidxx
Comment=Gluon Player Plasmoid
Comment[de]=Gluon-Player-Miniprogramm
Comment[es]=Plasmoide del reproductor Gluon
Comment[nds]=Plasma-Lüttprogramm för »Gluon«
Comment[pt]=Plasmóide de Leitura do Gluon
Comment[sv]=Gluon spelarplasmoid
Comment[uk]=Плазмоїд програвача Gluon
Comment[x-test]=xxGluon Player Plasmoidxx
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_gluonplayer
X-KDE-PluginInfo-Author=Shantanu Tushar Jha
X-KDE-PluginInfo-Email=jhahoneyk@gmail.com
X-KDE-PluginInfo-Name=org.kde.gluonplayer
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://gluon.gamingfreedom.org/
X-KDE-PluginInfo-Category=Fun and Games
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
