[Desktop Entry]
Name=Gluon Player
GenericName=Game Launcher
Exec=gluonplayer-harmattan
Icon=/usr/share/icons/hicolor/80x80/apps/gluon-player.png
Type=Application
Categories=Qt;KDE;Game;
Terminal=false
