[Desktop Entry]
Name=Gluon Creator
Name[cs]=Gluon Creator
Name[de]=Gluon Creator
Name[el]=Gluon Creator
Name[en_GB]=Gluon Creator
Name[es]=Gluon Creator
Name[et]=Gluon Creator
Name[fr]=Gluon Creator
Name[ga]=Gluon Creator
Name[gl]=Gluon Creator
Name[hi]=Gluon Creator
Name[hne]=Gluon Creator
Name[it]=Gluon Creator
Name[km]=Gluon Creator
Name[ko]=Gluon Creator
Name[ml]=Gluon Creator
Name[nb]=Gluon Creator
Name[nds]=Gluon Creator
Name[nl]=Gluon Creator
Name[nn]=Gluon Creator
Name[pt]=Gluon Creator
Name[pt_BR]=Gluon Creator
Name[ro]=Gluon Creator
Name[sv]=Gluon Creator
Name[tr]=Gluon Creator
Name[uk]=Gluon Creator
Name[x-test]=xxGluon Creatorxx
Name[zh_CN]=Gluon Creator
Name[zh_TW]=Gluon Creator
GenericName=Game Creation Tool
GenericName[be]=Game Creation Tool
GenericName[cs]=Game Creation Tool
GenericName[de]=Game Creation Tool
GenericName[el]=Game Creation Tool
GenericName[en_GB]=Game Creation Tool
GenericName[es]=Game Creation Tool
GenericName[et]=Game Creation Tool
GenericName[fr]=Game Creation Tool
GenericName[ga]=Game Creation Tool
GenericName[gl]=Game Creation Tool
GenericName[hi]=Game Creation Tool
GenericName[hne]=Game Creation Tool
GenericName[it]=Game Creation Tool
GenericName[km]=Game Creation Tool
GenericName[ko]=Game Creation Tool
GenericName[ml]=Game Creation Tool
GenericName[nb]=Game Creation Tool
GenericName[nds]=Game Creation Tool
GenericName[nl]=Game Creation Tool
GenericName[nn]=Game Creation Tool
GenericName[pt]=Game Creation Tool
GenericName[pt_BR]=Game Creation Tool
GenericName[ro]=Game Creation Tool
GenericName[sv]=Game Creation Tool
GenericName[tr]=Game Creation Tool
GenericName[uk]=Game Creation Tool
GenericName[x-test]=xxGame Creation Toolxx
GenericName[zh_CN]=Game Creation Tool
GenericName[zh_TW]=Game Creation Tool
Exec=gluoncreator
Icon=gluon-creator
Type=Application
Categories=Qt;KDE;Core;Development;Games;
Terminal=false
