[Desktop Entry]
Name=Gluon Creator
Name[de]=Gluon Creator
Name[es]=Gluon Creator
Name[nds]=Gluon-Maker
Name[pt]=Criador do Gluon
Name[sv]=Gluon Creator
Name[uk]=Gluon Creator
Name[x-test]=xxGluon Creatorxx
GenericName=Game Creation Tool
GenericName[de]=Werkzeug zum Erstellen von Spielen
GenericName[es]=Herramienta de creación de juegos
GenericName[nds]=Spelen opstellen
GenericName[pt]=Ferramenta de Criação de Jogos
GenericName[sv]=Verktyg för att skapa spel
GenericName[uk]=Інструмент для створення ігор
GenericName[x-test]=xxGame Creation Toolxx
Exec=gluoncreator
Icon=gluon_creator
Type=Application
Categories=Qt;KDE;Development;IDE;
Terminal=false
