[Desktop Entry]
Name=Gluon Creator
Name[x-test]=xxGluon Creatorxx
GenericName=Game Creation Tool
GenericName[x-test]=xxGame Creation Toolxx
Exec=gluoncreator
Icon=gluon_creator
Type=Application
Categories=Qt;KDE;Development;IDE;
Terminal=false
