[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=gluon
X-KDE-System-Settings-Parent-Category=system
Icon=gluon

Name=Gluon
