[Desktop Entry]
Exec=kcmshell4 kcl
Icon=kcl
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kcl
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=gluon
X-KDE-Weight=70

Name=KCL


Comment=KCL modules


X-KDE-Keywords=games,control

Categories=Qt;KDE;X-KDE-settings-looknfeel;
