[Desktop Entry]
Exec=kcmshell4 kal
Icon=kal
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kal
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=gluon
X-KDE-Weight=70

Name=KAL sound library based on openAL


Comment=KAL modules


X-KDE-Keywords=games,sound

Categories=Qt;KDE;X-KDE-settings-looknfeel;
