[Desktop Entry]
Name=Gluon Creator
GenericName=Game Creation Tool
Exec=gluoncreator
Icon=gluon_creator
Type=Application
Categories=Qt;KDE;Development;IDE;
Terminal=false
