[Desktop Entry]
Name=Gluon Creator
Name[bs]=Gluon kreator
Name[de]=Gluon Creator
Name[en_GB]=Gluon Creator
Name[es]=Gluon Creator
Name[fr]=Gluon Creator
Name[gl]=Creador de Gluon
Name[hu]=Gluon játékkészítő
Name[km]=កម្មវិធី​បង្កើត​ល្បែង Gluon
Name[mr]=ग्लुओन निर्माता
Name[nds]=Gluon-Maker
Name[nl]=Gluon-spelcreatie
Name[pl]=Kreator Gluon
Name[pt]=Criador do Gluon
Name[pt_BR]=Criador do Gluon
Name[sv]=Gluon Creator
Name[uk]=Gluon Creator
Name[x-test]=xxGluon Creatorxx
GenericName=Game Creation Tool
GenericName[bs]=Alat za pravljenje igara
GenericName[de]=Werkzeug zum Erstellen von Spielen
GenericName[en_GB]=Game Creation Tool
GenericName[es]=Herramienta de creación de juegos
GenericName[fr]=Utilitaire pour la création de jeux
GenericName[hu]=Gluon játékkészítő eszköz
GenericName[km]=ឧបករណ៍​បង្កើត​ល្បែង
GenericName[mr]=खेळ निर्माण साधन
GenericName[nds]=Spelen opstellen
GenericName[nl]=Hulpmiddel voor spelcreatie
GenericName[pl]=Narzędzie tworzenia gier
GenericName[pt]=Ferramenta de Criação de Jogos
GenericName[pt_BR]=Ferramenta de criação de jogos
GenericName[sv]=Verktyg för att skapa spel
GenericName[uk]=Інструмент для створення ігор
GenericName[x-test]=xxGame Creation Toolxx
Exec=gluoncreator
Icon=gluon_creator
Type=Application
Categories=Qt;KDE;Development;IDE;
Terminal=false
