[Desktop Entry]
Name=Gluon Player
Name[de]=Gluon-Player
Name[es]=Gluon Player
Name[et]=Gluoni mängija
Name[fr]=Gluon Player
Name[km]=អ្នក​លេង Gluon
Name[nl]=Gluon-afspeler
Name[pl]=Odtwarzacz Gluon
Name[pt]=Leitor do Gluon
Name[pt_BR]=Jogador do Gluon
Name[sv]=Gluon spelare
Name[uk]=Програвач Gluon
Name[x-test]=xxGluon Playerxx
GenericName=Gluon Player
GenericName[de]=Gluon-Player
GenericName[es]=Reproductor Gluon
GenericName[et]=Gluoni mängija
GenericName[fr]=Gluon Player
GenericName[km]=អ្នក​លេង Gluon
GenericName[nl]=Gluon-afspeler
GenericName[pl]=Odtwarzacz Gluon
GenericName[pt]=Leitor do Gluon
GenericName[pt_BR]=Jogador do Gluon
GenericName[sv]=Gluon spelare
GenericName[uk]=Програвач Gluon
GenericName[x-test]=xxGluon Playerxx
Comment=Gluon Player for tablets
Comment[de]=Gluon-Player für Tabletts
Comment[es]=Reproductor Gluon para tabletas
Comment[et]=Gluoni mängija tahvelarvutitele
Comment[fr]=Gluon Player pour tablettes
Comment[km]=អ្នក​លេង Gluon សម្រាប់ tablets
Comment[nl]=Gluon-afspeler voor tablets
Comment[pl]=Odtwarzacz Gluon dla tabletów
Comment[pt]=Leitor do Gluon para tabletes
Comment[pt_BR]=Jogador do Gluon para tablets
Comment[sv]=Gluon spelare för läsplattor
Comment[uk]=Програвач Gluon для планшетів
Comment[x-test]=xxGluon Player for tabletsxx
Exec=gluonplayer-active -graphicssystem raster %u
Terminal=false
Icon=gluon-install
Type=Application
Categories=Qt;KDE;Games;
