[Desktop Entry]
Name=Gluon Player
Name[de]=Gluon-Player
Name[es]=Gluon Player
Name[nl]=Gluon-speler
Name[pt]=Leitor do Gluon
Name[pt_BR]=Jogador do Gluon
Name[sv]=Gluon spelare
Name[uk]=Програвач Gluon
Name[x-test]=xxGluon Playerxx
GenericName=Gluon Player
Comment=Gluon Player for tablets
Exec=gluonplayer-active -graphicssystem raster %u
Terminal=false
Icon=gluon-install
Type=Application
Categories=Qt;KDE;Games
