[Desktop Entry]
Name=Gluon Player
Name[de]=Gluon-Player
Name[es]=Gluon Player
Name[nl]=Gluon-speler
Name[pt]=Leitor do Gluon
Name[pt_BR]=Jogador do Gluon
Name[sv]=Gluon spelare
Name[uk]=Програвач Gluon
Name[x-test]=xxGluon Playerxx
GenericName=Gluon Player
GenericName[pt_BR]=Jogador do Gluon
GenericName[uk]=Програвач Gluon
GenericName[x-test]=xxGluon Playerxx
Comment=Gluon Player for tablets
Comment[pt_BR]=Jogador do Gluon para tablets
Comment[uk]=Програвач Gluon для планшетів
Comment[x-test]=xxGluon Player for tabletsxx
Exec=gluonplayer-active -graphicssystem raster %u
Terminal=false
Icon=gluon-install
Type=Application
Categories=Qt;KDE;Games
