[Desktop Entry]
Encoding=UTF-8

Name=Scene Dock
Name[de]=Szenen-Anzeige
Name[en_GB]=Scene Dock
Name[es]=Anclaje de escena
Name[fr]=Panneau de Scènes
Name[nds]=Szenen-Andocker
Name[pt]=Área de Cenas
Name[pt_BR]=Acoplador de cena
Name[sv]=Scenpanel
Name[uk]=Панель сцени
Name[x-test]=xxScene Dockxx
Comment=Provides a Scene browser dock plugin.
Comment[de]=Eine Anzeigemodul der Szenen.
Comment[en_GB]=Provides a Scene browser dock plugin.
Comment[es]=Proporciona un complemento de anclaje para el buscador de escenas
Comment[fr]=Affiche un panneau pour parcourir les scènes.
Comment[nds]=Stellt en Szenenkieker as Andockmoduul praat.
Comment[pt]=Oferece um 'plugin' de navegação pelas cenas.
Comment[pt_BR]=Oferece um plug-in para acoplar um navegador de cena.
Comment[sv]=Tillhandahåller ett insticksprogram för scenbläddring.
Comment[uk]=Додаток панелі перегляду сцени.
Comment[x-test]=xxProvides a Scene browser dock plugin.xx
Icon=gluon

Type=Service
ServiceTypes=GluonCreator/Plugin

X-KDE-Library=gluon_creator_dockplugin_scenedock
X-KDE-PluginInfo-Author=Arjen Hiemstra
X-KDE-PluginInfo-Email=djfreestyler@gmail.com
X-KDE-PluginInfo-Name=gluon_creator_dockplugin_scenedock
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://gluon.tuxfamily.org
X-KDE-PluginInfo-Category=dock
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
