[Desktop Entry]
Encoding=UTF-8

Name=Scene Dock
Name[de]=Szenen-Anzeige
Name[pt]=Área de Cenas
Name[sv]=Scenpanel
Name[uk]=Панель ігрового поля
Name[x-test]=xxScene Dockxx
Comment=Provides a Scene browser dock plugin.
Comment[de]=Eine Anzeigemodul der Szenen.
Comment[pt]=Oferece um 'plugin' de navegação pelas cenas.
Comment[sv]=Tillhandahåller ett insticksprogram för scenbläddring.
Comment[uk]=Додаток панелі перегляду ігрового поля.
Comment[x-test]=xxProvides a Scene browser dock plugin.xx
Icon=gluon

Type=Service
ServiceTypes=GluonCreator/Plugin

X-KDE-Library=gluon_creator_dockplugin_scenedock
X-KDE-PluginInfo-Author=Arjen Hiemstra
X-KDE-PluginInfo-Email=djfreestyler@gmail.com
X-KDE-PluginInfo-Name=gluon_creator_dockplugin_scenedock
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://gluon.tuxfamily.org
X-KDE-PluginInfo-Category=dock
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
