<?xml version="1.0" encoding="UTF-8"?>
<kpartgui name="gluoncreator_dockplugin_scenedock" version="1">

<MenuBar>
    <Menu name="settings">
        <Menu name="docks">
            <Action name="showSceneDockAction" />
        </Menu>
    </Menu>
</MenuBar>

</kpartgui>
