[Desktop Entry]
Encoding=UTF-8

Name=View Dock
Name[de]=Ansicht-Anzeige
Name[en_GB]=View Dock
Name[es]=Anclaje de vistas
Name[fr]=Panneau de Vues
Name[nds]=Ansichten-Andocker
Name[pt]=Área de Vistas
Name[pt_BR]=Acoplador de exibição
Name[sv]=Vypanel
Name[uk]=Додаток перегляду
Name[x-test]=xxView Dockxx
Comment=Provides a view of the current scene
Comment[de]=Eine Anzeige der aktuellen Szene.
Comment[en_GB]=Provides a view of the current scene
Comment[es]=Proporciona una vista de la escena actual
Comment[fr]=Affiche une vue de la scène courante
Comment[nds]=Stellt en Ansicht vun de aktuelle Szeen praat.
Comment[pt]=Oferece uma vista sobre a cena actual
Comment[pt_BR]=Oferece uma visualização da cena atual
Comment[sv]=Tillhandahåller en vy av aktuell scen.
Comment[uk]=Панель перегляду стану поточної сцени
Comment[x-test]=xxProvides a view of the current scenexx
Icon=gluon

Type=Service
ServiceTypes=GluonCreator/Plugin

X-KDE-Library=gluon_creator_dockplugin_viewwidgetdock
X-KDE-PluginInfo-Author=Arjen Hiemstra
X-KDE-PluginInfo-Email=djfreestyler@gmail.com
X-KDE-PluginInfo-Name=gluon_creator_dockplugin_viewwidgetdock
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://gluon.tuxfamily.org
X-KDE-PluginInfo-Category=dock
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
