[Desktop Entry]
Encoding=UTF-8

Name=View Dock
Name[de]=Ansicht-Anzeige
Name[es]=Anclaje de vistas
Name[nds]=Ansichten-Andocker
Name[pt]=Área de Vistas
Name[sv]=Vypanel
Name[uk]=Додаток перегляду
Name[x-test]=xxView Dockxx
Comment=Provides a view of the current scene
Comment[de]=Eine Anzeige der aktuellen Szene.
Comment[es]=Proporciona una vista de la escena actual
Comment[nds]=Wiest en Ansicht vun de aktuelle Szeen praat.
Comment[pt]=Oferece uma vista sobre a cena actual
Comment[sv]=Tillhandahåller en vy av aktuell scen.
Comment[uk]=Панель перегляду стану поточної сцени
Comment[x-test]=xxProvides a view of the current scenexx
Icon=gluon

Type=Service
ServiceTypes=GluonCreator/Plugin

X-KDE-Library=gluon_creator_dockplugin_viewwidgetdock
X-KDE-PluginInfo-Author=Arjen Hiemstra
X-KDE-PluginInfo-Email=djfreestyler@gmail.com
X-KDE-PluginInfo-Name=gluon_creator_dockplugin_viewwidgetdock
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://gluon.tuxfamily.org
X-KDE-PluginInfo-Category=dock
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
