[Desktop Entry]
Encoding=UTF-8

Name=View Dock
Name[x-test]=xxView Dockxx
Comment=Provides a view of the current scene
Comment[x-test]=xxProvides a view of the current scenexx
Icon=gluon

Type=Service
ServiceTypes=GluonCreator/Plugin

X-KDE-Library=gluon_creator_dockplugin_viewwidgetdock
X-KDE-PluginInfo-Author=Arjen Hiemstra
X-KDE-PluginInfo-Email=djfreestyler@gmail.com
X-KDE-PluginInfo-Name=gluon_creator_dockplugin_viewwidgetdock
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://gluon.tuxfamily.org
X-KDE-PluginInfo-Category=dock
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
