[Desktop Entry]
Name=Gluon Creator Plugin
Name[de]=Gluon-Creator-Modul
Name[en_GB]=Gluon Creator Plugin
Name[es]=Complemento de Gluon Creator
Name[fr]=Module Externe de Gluon Creator
Name[nds]=Gluon-Makermoduul
Name[nl]=Plugin voor Gluon-creatieprogramma
Name[pt]='Plugin' do Criador do Gluon
Name[pt_BR]=Plug-in do criador do Gluon
Name[sv]=Gluon Creator-insticksprogram
Name[uk]=Додаток до Gluon Creator
Name[x-test]=xxGluon Creator Pluginxx
Comment=The type used for Gluon Creator plugins
Comment[de]=Die zu verwendete Art der Gluon-Creator-Module.
Comment[en_GB]=The type used for Gluon Creator plugins
Comment[es]=Tipo usado para los complementos de Gluon Creator
Comment[fr]=Le type utilisé pour les modules externes de Gluon Creator
Comment[nds]=De Andockertyp för Gluon-Makermodulen
Comment[pt]=O tipo usado para os 'plugins' do criador do Gluon
Comment[pt_BR]=O tipo usado pelo criador de plug-ins do Gluon
Comment[sv]=Typen som används för insticksprogram i Gluon Creator
Comment[uk]=Тип, що використовується для додатків до Gluon Creator
Comment[x-test]=xxThe type used for Gluon Creator pluginsxx

Type=ServiceType
X-KDE-ServiceType=GluonCreator/Plugin

# mandatory, versioning - prevent DLL issues
[PropertyDef::X-KDE-GluonCreatorPluginVersion]
Type=int

