[Desktop Entry]
Name=Gluon Player (KDE Ext only)
GenericName=Game Launcher
GenericName[x-test]=xxGame Launcherxx
Exec=gluon_kdeextplayer
Icon=gluon-player
Type=Application
Categories=Qt;KDE;Game;
Terminal=false
