[Desktop Entry]
Encoding=UTF-8

Name=Distribution Wizard
Comment=Provides a distribution wizard to help upload new games.
Comment[x-test]=xxProvides a distribution wizard to help upload new games.xx
Icon=gluon

Type=Service
ServiceTypes=GluonCreator/Plugin

X-KDE-Library=gluon_creator_dockplugin_distributionwizard
X-KDE-GluonCreatorPluginVersion=1
X-KDE-PluginInfo-Author=Arjen Hiemstra
X-KDE-PluginInfo-Email=djfreestyler@gmail.com
X-KDE-PluginInfo-Name=gluon_creator_dockplugin_projectinspector
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://gluon.gamingfreedom.org
X-KDE-PluginInfo-Category=tool
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
