[Desktop Entry]
Encoding=UTF-8

Name=Project Dock
Name[de]=Projekt-Anzeige
Name[en_GB]=Project Dock
Name[es]=Anclaje de proyectos
Name[fr]=Panneau de Projet
Name[nds]=Projekten-Andocker
Name[pt]=Área de Projectos
Name[pt_BR]=Acoplador de projeto
Name[sv]=Projektpanel
Name[uk]=Панель проекту
Name[x-test]=xxProject Dockxx
Comment=Provides a Project browser dock plugin.
Comment[de]=Ein Anzeigemodul zur Projektverwaltung.
Comment[en_GB]=Provides a Project browser dock plugin.
Comment[es]=Proporciona un complemento de anclaje de proyectos.
Comment[fr]=Affiche un panneau externe pour parcourir les Projets.
Comment[nds]=Stellt en Projektkieker as Andockmoduul praat.
Comment[pt]=Oferece um 'plugin' de navegação pelos projectos.
Comment[pt_BR]=Oferece um plug-in para acoplar um navegador de projeto.
Comment[sv]=Tillhandahåller ett insticksprogram för projektbläddring.
Comment[uk]=Додаток панелі перегляду проекту.
Comment[x-test]=xxProvides a Project browser dock plugin.xx
Icon=gluon

Type=Service
ServiceTypes=GluonCreator/Plugin

X-KDE-Library=gluon_creator_dockplugin_projectdock
X-KDE-PluginInfo-Author=Arjen Hiemstra
X-KDE-PluginInfo-Email=djfreestyler@gmail.com
X-KDE-PluginInfo-Name=gluon_creator_dockplugin_projectdock
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://gluon.tuxfamily.org
X-KDE-PluginInfo-Category=dock
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
