[Desktop Entry]
Encoding=UTF-8

Name=Project Dock
Name[de]=Projekt-Anzeige
Name[pt]=Área de Projectos
Name[sv]=Projektpanel
Name[uk]=Панель проекту
Name[x-test]=xxProject Dockxx
Comment=Provides a Project browser dock plugin.
Comment[de]=Ein Anzeigemodul zur Projektverwaltung.
Comment[pt]=Oferece um 'plugin' de navegação pelos projectos.
Comment[sv]=Tillhandahåller ett insticksprogram för projektbläddring.
Comment[uk]=Додаток панелі перегляду проекту.
Comment[x-test]=xxProvides a Project browser dock plugin.xx
Icon=gluon

Type=Service
ServiceTypes=GluonCreator/Plugin

X-KDE-Library=gluon_creator_dockplugin_projectdock
X-KDE-PluginInfo-Author=Arjen Hiemstra
X-KDE-PluginInfo-Email=djfreestyler@gmail.com
X-KDE-PluginInfo-Name=gluon_creator_dockplugin_projectdock
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://gluon.tuxfamily.org
X-KDE-PluginInfo-Category=dock
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
