[Desktop Entry]
Name=Gluon Player (Qt only)
Name[de]=Gluon-Player (Qt-Version)
Name[es]=Gluon Player (sólo Qt)
Name[et]=Gluoni mängija (ainult Qt)
Name[fr]=Gluon Player (Qt uniquement)
Name[pl]=Odtwarzacz Gluon (tylko Qt)
Name[pt]=Leitor do Gluon (apenas para Qt)
Name[pt_BR]=Jogador do Gluon (somente para Qt)
Name[sv]=Gluon spelare (bara Qt)
Name[uk]=Програвач Gluon (лише Qt)
Name[x-test]=xxGluon Player (Qt only)xx
GenericName=Game Launcher
GenericName[de]=Spielestarter
GenericName[es]=Lanzador de juegos
GenericName[et]=Mängukäivitaja
GenericName[fr]=Démarrage du jeu
GenericName[pl]=Program uruchamiający gry
GenericName[pt]=Lançador do Jogo
GenericName[pt_BR]=Lançador do jogo
GenericName[sv]=Startprogram för spel
GenericName[uk]=Засіб запуску гри
GenericName[x-test]=xxGame Launcherxx
Exec=gluon_qtplayer
Icon=gluon-player
Type=Application
Categories=Qt;KDE;Game;
Terminal=false
