[Desktop Entry]
Name=Gluon Player (Qt only)
Name[fr]=Gluon Player (Qt uniquement)
Name[pt]=Leitor do Gluon (apenas para Qt)
Name[sv]=Gluon spelare (bara Qt)
Name[uk]=Програвач Gluon (лише Qt)
Name[x-test]=xxGluon Player (Qt only)xx
GenericName=Game Launcher
GenericName[fr]=Démarrage du jeu
GenericName[pt]=Lançador do Jogo
GenericName[sv]=Startprogram för spel
GenericName[uk]=Засіб запуску гри
GenericName[x-test]=xxGame Launcherxx
Exec=gluon_qtplayer
Icon=gluon-player
Type=Application
Categories=Qt;KDE;Game;
Terminal=false
