[Desktop Entry]
Encoding=UTF-8

Name=Components Dock
Name[x-test]=xxComponents Dockxx
Comment=Provides a list with components in a dock.
Comment[x-test]=xxProvides a list with components in a dock.xx
Icon=gluon

Type=Service
ServiceTypes=GluonCreator/Plugin

X-KDE-Library=gluon_creator_dockplugin_componentsdock
X-KDE-PluginInfo-Author=Arjen Hiemstra
X-KDE-PluginInfo-Email=djfreestyler@gmail.com
X-KDE-PluginInfo-Name=gluon_creator_dockplugin_componentsdock
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://gluon.tuxfamily.org
X-KDE-PluginInfo-Category=dock
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
