[Desktop Entry]
Encoding=UTF-8

Name=Components Dock
Name[de]=Komponenten-Ansicht
Name[en_GB]=Components Dock
Name[es]=Anclaje de componentes 
Name[fr]=Panneau de Composants
Name[nds]=Komponenten-Andocker
Name[pt]=Área de Componentes
Name[pt_BR]=Acoplador de componentes
Name[sv]=Komponentpanel
Name[uk]=Панель компонентів
Name[x-test]=xxComponents Dockxx
Comment=Provides a list with components in a dock.
Comment[de]=Eine Liste der Komponenten in einer Anzeige.
Comment[en_GB]=Provides a list with components in a dock.
Comment[es]=Proporciona una lista con los componentes de un anclaje.
Comment[fr]=Fournit une liste de composants dans un panneau.
Comment[nds]=Stellt en Komponentlist as Andockmoduul praat.
Comment[pt]=Oferece uma lista com os componentes acoplados.
Comment[pt_BR]=Oferece uma lista com os componentes em um acoplador.
Comment[sv]=Tillhandahåller en lista av komponenter.
Comment[uk]=Панель зі списком компонентів.
Comment[x-test]=xxProvides a list with components in a dock.xx
Icon=gluon

Type=Service
ServiceTypes=GluonCreator/Plugin

X-KDE-Library=gluon_creator_dockplugin_componentsdock
X-KDE-GluonCreatorPluginVersion=1
X-KDE-PluginInfo-Author=Arjen Hiemstra
X-KDE-PluginInfo-Email=djfreestyler@gmail.com
X-KDE-PluginInfo-Name=gluon_creator_dockplugin_componentsdock
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://gluon.tuxfamily.org
X-KDE-PluginInfo-Category=dock
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
